.social__title {
   padding: 0;
   margin: 0;
   width: 77px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #fff;
   transform: rotate(90deg);
}