@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
   --red: #EB3D35;
   --blue: #051655;
   --grey: #747887;
}

* {
   box-sizing: border-box;
}

html {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}

p {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

.container {
   padding: 40px 200px 50px 200px;
}


/* ------Hero------ */


.hero {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow: hidden;
}

.hero__item {
   height: 100%;
   width: 50%;
}

.hero__item .hero__bg {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero__logo {
   display: inline-block;
   margin: 70px 0 90px 100px;
}

.hero__content {
   margin-left: 100px;
}

.hero__title {
   font-weight: 600;
   font-size: 50px;
   line-height: 56px;
   color: var(--blue);
   margin-bottom: 10px;
}

.hero__subtitle {
   color: #747887;
   font-weight: 300;
   font-size: 20px;
   line-height: 22px;
   margin-bottom: 40px;
}

.hero__bottom {
   margin: 450px 0 0 100px;
   display: flex;
}

.hero__sign_in {
   margin-right: 10px;
   color: var(--grey);
   font-size: 18px;
}

.hero__sign__link {
   font-size: 18px;
   text-decoration: none;
   color: var(--red);
}

.hero__sign__link:hover {
   text-decoration: underline;
}



/* ------Hero button------ */



.hero__button {
   display: block;
   width: 250px;
   height: 60px;
   border: none;
   background-color: var(--red);
   font-size: 20px;
   color: #fff;
   font-family: inherit;
   cursor: pointer;
   position: relative;
   transition: all 0.3s linear;
   overflow: hidden;
   display: flex;
   justify-content: start;
   padding-left: 30px;
   align-items: center;
}

.hero__button::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0px;
   height: 100%;
   background-color: var(--blue);
   transition: 0.5s ease-in-out;
   transition-delay: 0.8s;
}

.hero__button::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 0px;
   height: 100%;
   background-color: var(--blue);
   transition: 0.5s ease-in-out;
   transition-delay: 0.8s;
}

.hero__button:hover::before,
.hero__button:hover::after {
   width: 50%;
   transition-delay: 1.0s;
}

.hero__button img {
   display: inline-block;
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
   transition: 0.5s;
}

.hero__button i {
   display: inline-block;
   position: absolute;
   top: 50%;
   right: -30px;
   font-size: 20px;
   transform: translateY(-50%);
   color: #fff;
   opacity: 0;
   transition: 0.6s;
}

.hero__button span {
   position: absolute;
   z-index: 1;
   color: #fff;
   transition: 0.8s;
}

.hero__button span:nth-child(1) {
   transition-delay: 1.2s;
}

.hero__button:hover span:nth-child(1) {
   transform: scale(0);
   transition-delay: 0.5s;
}

.hero__button span:nth-child(2) {
   transform: scale(3);
   opacity: 0;
   color: #fff;
   transition-delay: 0s;
}

.hero__button:hover span:nth-child(2) {
   transform: scale(1);
   opacity: 1;
   transition-delay: 1.5s;
   z-index: 10;
}

.hero__button:hover img {
   right: -30px;
}

.hero__button:hover i {
   right: 30px;
   opacity: 1;
   transition-delay: 2.3s;
   z-index: 10;
}



/* ------Hub------ */


.hub {
   width: 100%;
   height: 100vh;
}

.main__logo {
   margin-bottom: 50px;
}

.section__bar {
   max-width: 650px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
   position: relative;
}

.section__bar::before {
   content: '';
   width: 650px;
   height: 2px;
   background: #E5E4E1;
   position: absolute;
   z-index: 1;
}

.section__item {
   width: 50px;
   height: 50px;
   background: #FFFFFF;
   border: 2px solid #E5E4E1;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

.item__red {
   background-color: var(--red);
   border: 2px solid var(--red);
   color: #fff;
}

.main__title {
   font-weight: 600;
   font-size: 50px;
   line-height: 55px;
   color: var(--blue);
   margin-bottom: 10px;
}

.main__subtitle {
   max-width: 700px;
   font-weight: 300;
   font-size: 20px;
   line-height: 22px;
   color: var(--grey);
   margin-bottom: 40px;
}

.hub__input {
   min-width: 460px;
   min-height: 60px;
   background: #FFFFFF;
   border: 1px solid #E5E4E1;
   font-family: inherit;
   padding: 20px 20px 20px 65px;
   outline: none;
   font-size: 18px;
   color: var(--grey);
}

.hub__input::placeholder {
   font-weight: 300;
}

.main__input {
   position: relative;
   margin-bottom: 40px;
}

.hub__search {
   display: inline-block;
   position: absolute;
   top: 25px;
   left: 30px;
}

.hub__input:focus {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

.hub__block,
.objectives__block {
   margin-bottom: 50px;
}

.hub__block__title,
.objectives__block__title {
   font-size: 25px;
   line-height: 28px;
   margin-bottom: 20px;
   color: var(--blue);
}

.hub__block__content,
.objectives__block__content {
   max-width: 1120px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 20px;
   grid-template-rows: 1fr 1fr;
   row-gap: 15px;
}

.objectives__block__content {
   grid-template-rows: 1fr 1fr 1fr 1fr;
}

.hub__block__item,
.objectives__block__item {
   width: 360px;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #F3F6F9;
}

.block__image,
.objectives__block__image {
   width: 60px;
   height: 60px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.radio__block,
.checkbox__block {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   position: relative;
}

.block__name,
.checkbox__block__name {
   font-size: 20px;
   color: var(--blue);
   font-weight: 600;
   width: 160px;
   text-align: left;
   cursor: pointer;
}

.checkbox__block__name {
   width: 220px;
   font-size: 16px;
}

.block__radio,
.block__checkbox {
   appearance: none;
   -webkit-appearance: none;
   position: absolute;
}

.block__name::before {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   right: 0;
   z-index: 1;
   transform: translateY(-50%);
   width: 30px;
   height: 30px;
   border: 1px solid #E5E4E1;
   border-radius: 50%;
   transition: 0.2s linear;
}

.block__name::after {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   right: 6px;
   z-index: 2;
   transform: translateY(-50%);
   width: 20px;
   height: 20px;
   background-color: var(--red);
   border-radius: 50%;
   opacity: 0;
   transition: 0.2s linear;
}

.checkbox__block__name::before {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   right: 0;
   z-index: 1;
   transform: translateY(-50%);
   width: 30px;
   height: 30px;
   border: 1px solid #E5E4E1;
   border-radius: 5px;
   transition: 0.2s linear;
}

.checkbox__block__name::after {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   right: 6px;
   z-index: 2;
   transform: translateY(-50%);
   width: 20px;
   height: 20px;
   background: url(img/03_objectives/Vector\ 5.svg) center no-repeat;
   background-size: 20px 20px;
   opacity: 0;
   transition: 0.2s linear;
}

.block__radio:checked+.block__name::before {
   border: 1px solid var(--red);
}

.block__radio:checked+.block__name::after {
   opacity: 1;
}

.block__checkbox:checked+.checkbox__block__name::before {
   background-color: var(--red);
   border: 1px solid var(--red);
}

.block__checkbox:checked+.checkbox__block__name::after {
   opacity: 1;
}


.main__button {
   display: inline-block;
   padding: 18px 49px;
   background-color: var(--red);
   color: #fff;
   font-size: 22px;
   text-decoration: none;
   transition: all 0.3s linear;
}

.button__back {
   background-color: #fff;
   border: 1px solid #E5E4E1;
   color: var(--blue);
   margin-right: 20px;
}

.main__button:hover {
   background-color: var(--blue);
}

.button__back:hover {
   background-color: var(--red);
   color: #fff;
}

.button__long {
   padding-left: 71px;
   position: relative;
}

.button__long::before {
   content: '';
   display: block;
   position: absolute;
   top: 22px;
   left: 35px;
   z-index: 2;
   width: 24px;
   height: 24px;
   background: url(img/07_finish/G_small.svg) left no-repeat;
   background-size: 24px 24px;
   margin-bottom: 50px;
}

.checked__red {
   background-color: #fff;
   border: 1px solid var(--red);
}


/* ------Objectives------ */


.objectives {
   width: 100%;
   height: 100vh;
}


/* ------Profile------ */


.profile {
   width: 100%;
   height: 100vh;
}

.profile__content {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: top;
   margin-bottom: 50px;
}

.profile__photo {
   min-width: 360px;
   min-height: 360px;
   background: #F3F6F9;
   border: 2px dashed var(--blue);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 40px;
}

.profile__photo img {
   display: inline-block;
   margin-bottom: 30px;
}

.profile__photo__link {
   display: block;
   font-size: 20px;
   color: var(--blue);
   text-decoration: none;
}

.profile__link__title {
   font-size: 25px;
   color: var(--blue);
   margin-bottom: 24px;
}

.profile__link__input {
   width: 620px;
   height: 60px;

   background: #FFFFFF;
   border: 1px solid #E5E4E1;
   outline: none;
   margin-bottom: 10px;

   padding-left: 65px;
   font-family: inherit;
   font-size: 18px;
   color: var(--grey);
}

.profile__link__input:focus {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

.profile__form {
   position: relative;
}

.profile__form .linkedin__icon {
   display: block;
   position: absolute;
   top: 20px;
   left: 30px;
}

.profile__form .twitter__icon {
   display: block;
   position: absolute;
   top: 90px;
   left: 30px;
}


/* ------Interests------ */


.interest__content {
   width: 100%;
}

.interest__block {
   margin-bottom: 30px;
}

.interest__title {
   font-size: 25px;
   color: var(--blue);
   margin-bottom: 20px;
}

.interest__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   align-items: center;
   margin: 0;
   padding: 0;
}

.interest__item {
   list-style: none;
   padding: 15px 24px;
   color: var(--grey);
   background: #fff;
   border: 1px solid #E5E4E1;
   margin-bottom: 10px;
   cursor: pointer;
}

.interest__item:not(:last-child) {
   margin-right: 10px;
}

.checked__blue {
   border: 1px solid var(--blue);
   color: var(--blue);
   font-weight: 600;
}

.interest__checkbox {
   appearance: none;
   -webkit-appearance: none;
   position: absolute;
}

.interest__item__name {
   cursor: pointer;
}



/* ------Form------ */



.form {
   width: 930px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   column-gap: 10px;
   row-gap: 10px;
   position: relative;
   margin-bottom: 120px;
}

.form__input {
   height: 60px;
   background: #FFFFFF;
   border: 1px solid #E5E4E1;
   padding: 20px 20px 20px 65px;
   font-size: 18px;
   color: var(--grey);
   font-family: inherit;
   font-weight: 300;
   outline: none;
}

.form__input:focus {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

.form .form__icon {
   position: absolute;
   top: 20px;
   left: 30px;
   z-index: 2;
}

.form .form__icon:nth-child(2) {
   left: 500px;
}

.form__textarea {
   height: 240px;
   background: #FFFFFF;
   border: 1px solid #E5E4E1;
   padding: 20px 20px 20px 30px;
   font-size: 18px;
   color: var(--grey);
   font-family: inherit;
   font-weight: 300;
   outline: none;
   resize: none;
   grid-area: 2 / 1 / 3 / 3;
}

.form__textarea:focus {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}



/* ------Finish------ */

.finish__icon {
   margin-top: 120px;
   margin-bottom: 40px;
}

.finish__block {
   margin-top: 100px;
   margin-bottom: 100px;
   width: 700px;
}

.finish__title {
   font-size: 25px;
   color: var(--blue);
   margin-bottom: 10px;
}

.finish__text {
   font-size: 20px;
   color: var(--grey);
   margin-bottom: 10px;
   font-weight: 300;
   line-height: 25px;
}