@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
   --red: #EB3D35;
   --blue: #051655;
   --grey: #747887;
}

* {
   box-sizing: border-box;
}

html {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}

p {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

.container {
   padding: 40px 200px 50px 200px;
}


/* ------Hero------ */


.hero {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow: hidden;
}

.hero__item {
   height: 100%;
   width: 50%;
}

.hero__item .hero__bg {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero__logo {
   display: inline-block;
   margin: 70px 0 90px 100px;
}

.hero__content {
   margin-left: 100px;
}

.hero__title {
   font-weight: 600;
   font-size: 50px;
   line-height: 56px;
   color: var(--blue);
   margin-bottom: 10px;
}

.hero__subtitle {
   color: #747887;
   font-weight: 300;
   font-size: 20px;
   line-height: 22px;
   margin-bottom: 40px;
}

.hero__button {
   padding: 18px 85px 18px 30px;
   border: none;
   background-color: var(--red);
   font-size: 22px;
   color: #fff;
   font-family: inherit;
   cursor: pointer;
   position: relative;
   transition: all 0.3s linear;
}

.hero__button:hover {
   background-color: var(--blue);
}


.hero__arrow {
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
}

.hero__bottom {
   margin: 450px 0 0 100px;
   display: flex;
}

.hero__sign_in {
   margin-right: 10px;
   color: var(--grey);
   font-size: 18px;
}

.hero__sign__link {
   font-size: 18px;
   text-decoration: none;
   color: var(--red);
}

.hero__sign__link:hover {
   text-decoration: underline;
}


/* ------Hub------ */


.hub {
   width: 100%;
   height: 100vh;
}

.main__logo {
   margin-bottom: 80px;
}

.section__bar {
   max-width: 650px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
   position: relative;
}

.section__bar::before {
   content: '';
   width: 650px;
   height: 2px;
   background: #E5E4E1;
   position: absolute;
   z-index: 1;
}

.section__item {
   width: 50px;
   height: 50px;
   background: #FFFFFF;
   border: 2px solid #E5E4E1;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

.item__red {
   background-color: var(--red);
   border: 2px solid var(--red);
   color: #fff;
}

.main__title {
   font-weight: 600;
   font-size: 50px;
   line-height: 55px;
   color: var(--blue);
   margin-bottom: 10px;
}

.main__subtitle {
   max-width: 700px;
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;
   color: var(--grey);
   margin-bottom: 40px;
}

.hub__input {
   min-width: 460px;
   min-height: 60px;
   background: #FFFFFF;
   border: 1px solid #E5E4E1;
   font-family: inherit;
   padding: 20px 20px 20px 65px;
   outline: none;
   font-size: 18px;
   color: var(--grey);
}

.hub__input::placeholder {
   font-weight: 300;
}

.main__input {
   position: relative;
   margin-bottom: 40px;
}

.hub__search {
   display: inline-block;
   position: absolute;
   top: 25px;
   left: 30px;
}

.hub__input:focus {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}

.hub__block,
.objectives__block {
   margin-bottom: 80px;
}

.hub__block__title,
.objectives__block__title {
   font-size: 25px;
   line-height: 28px;
   margin-bottom: 20px;
   color: var(--blue);
}

.hub__block__content,
.objectives__block__content {
   max-width: 1120px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 20px;
   grid-template-rows: 1fr 1fr;
   row-gap: 20px;
}

.hub__block__item,
.objectives__block__item {
   width: 360px;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #F3F6F9;
}

.block__image,
.objectives__block__image {
   width: 60px;
   height: 60px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.radio__block,
.checkbox__block {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
   position: relative;
}

.block__name,
.checkbox__block__name {
   font-size: 20px;
   color: var(--blue);
   font-weight: 600;
   width: 160px;
   text-align: left;
   cursor: pointer;
}

.checkbox__block__name {
   width: 220px;
   font-size: 16px;
}

.block__name::before {
   content: '';
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   background-color: #fff;
   border: 1px solid #E5E4E1;
   border-radius: 50%;
   z-index: 1;
}

.block__radio {
   -webkit-appearance: none;
   appearance: none;
   position: absolute;
}

.block__name::after {
   content: '';
   position: absolute;
   top: 5px;
   right: 5px;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background-color: var(--red);
   z-index: 2;
   opacity: 0;
}

.block__radio:checked+.block__name::after {
   opacity: 1;
}

.main__button {
   padding: 18px 49px;
   background-color: var(--red);
   color: #fff;
   font-size: 22px;
   text-decoration: none;
   transition: all 0.3s linear;
}

.main__button:hover {
   background-color: var(--blue);
}


/* ------Objectives------ */


.objectives {
   width: 100%;
   height: 100vh;
}