@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
   --black: #021206;
   --red: #F44545;
   --dark: #282323;
   --white: #fff;
}


* {
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

p {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
   color: #000;
}

button {
   font-family: inherit;
   border: none;
   background-color: transparent;
}

ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

.container {
   width: 1170px;
   margin: 0 auto;
}


/* --------------Header-------------- */


.header {
   width: 100%;
   padding: 35px 10px;
}

.header__inner {

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: 700;
   color: #24DC9F;
   text-transform: uppercase;
   text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

.nav__list {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav__item {
   font-size: 18px;
   color: var(--black);
   opacity: 0.5;
   transition: opacity 0.3s linear;
}

.nav__item:hover {
   opacity: 1;
}

.nav__item:not(:last-child) {
   margin-right: 50px;
}

.link a {
   display: inline-block;
}

.login {
   font-size: 18px;
   font-weight: 500;
   color: var(--black);
   opacity: 0.7;
   margin-right: 23px;
   transition: opacity 0.3s linear;
}

.login:hover {
   opacity: 1;
}

.signup {
   font-size: 18px;
   color: var(--white);
   font-weight: 500;
   padding: 15px 30px;
   background-color: var(--red);
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s linear;
}

.signup:hover {
   background-color: #cfaeae;
   color: var(--black);
}


/* --------------Hero-------------- */


.hero {
   width: 100%;
   height: 700px;
   background-color: var(--white);
   padding: 100px 10px;
}

.hero__inner {
   width: 100%;
   background-color: var(--white);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hero__item {
   width: 49%;
   position: relative;
}

.hero__title {
   font-weight: 600;
   font-size: 54px;
   line-height: 81px;
   color: #021206;
   margin-bottom: 25px;
}

.hero__title span {
   background: linear-gradient(154.24deg, #3EFFC0 4.45%, #18CA90 83.73%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.hero__text {
   font-size: 21px;
   line-height: 1.6;
   color: var(--black);
   opacity: 0.7;
   margin-bottom: 30px;
}

.hero__text span {
   font-weight: 600;
}

.hero__form {
   width: 80%;
   height: 65px;
   background-color: var(--white);
   border-radius: 6px;
   filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 6px;
   margin-bottom: 35px;
}

.hero__input {
   width: 70%;
   border: none;
   background-color: transparent;
   font-family: inherit;
   font-size: 18px;
   line-height: 27px;
   color: var(--black);
   opacity: 0.5;
   padding-left: 20px;
   outline: none;
}

.hero__input:focus .hero__form {
   border: 1px solid var(--red);
}

.hero__button {
   font-size: 18px;
   color: var(--white);
   font-weight: 500;
   padding: 12px 33px;
   background-color: var(--red);
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s linear;
}

.hero__button:hover {
   background-color: #cfaeae;
   color: var(--black);
}

.store__link img {
   margin-right: 30px;
}

.hero__laptop {
   width: 140%;
   object-fit: cover;
   z-index: 2;
   position: relative;
}

.hero__phone {
   position: absolute;
   top: 165px;
   left: 50px;
   z-index: 4;
}

.hero__screen {
   position: absolute;
   top: 170px;
   left: 60px;
   z-index: 3;
}

.hero__circle__top {
   position: absolute;
   top: -70px;
   left: 0;
   z-index: 1;
}

.hero__circle__bottom {
   position: absolute;
   top: 290px;
   right: -230px;
   z-index: 1;
}


/* --------------Partners-------------- */

.partners {
   width: 100%;
   background-color: #8ee6c931;
   padding: 10px;
}

.partners__inner {
   width: 100%;
   height: 165px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}


/* --------------Features-------------- */


.features {
   width: 100%;
   padding: 10px;
   background-color: var(--white);
}

.features__inner {
   width: 100%;
   height: 830px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 100px 0;
}

.features__content {
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.features__item {
   width: 280px;
   height: 290px;
   background-color: var(--white);
   border-radius: 10px;
   padding: 5px 24px 35px 5px;
   border: 1px solid rgba(2, 18, 6, 0.1);
   position: relative;
   margin-bottom: 25px;
   transition: all 0.3s linear;
}

.features__item:hover {
   box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
   border: 1px solid var(--white);
}

.features__item:hover .features__item__title {
   opacity: 1;
}

.features__item:hover .features__item__text {
   opacity: 1;
}

.features__item__title {
   font-size: 21px;
   margin-bottom: 10px;
   color: var(--black);
   opacity: 0.8;
   padding-left: 30px;
   margin-top: -15px;
   transition: all 0.3s linear;
}

.features__item__text {
   font-size: 16px;
   line-height: 1.6;
   color: var(--black);
   opacity: 0.7;
   padding-left: 30px;
   transition: all 0.3s linear;
}

.features__icon {
   position: absolute;
   top: 50px;
   left: 54px;
   z-index: 2;
}

.features__wrapper {
   padding-left: 60px;
}

.features__title {
   font-weight: 600;
   font-size: 45px;
   line-height: 68px;
   color: var(--black);
   margin-bottom: 25px;
}

.features__text {
   font-size: 18px;
   line-height: 1.6;
   color: var(--black);
   opacity: 0.7;
   max-width: 480px;
}

.features__text span {
   font-weight: 600;
}

.features__text:first-of-type {
   margin-bottom: 16px;
}

.features__text:last-of-type {
   margin-bottom: 29px;
}

.features__link {
   display: flex;
   align-items: center;
}

.learn__link {
   font-size: 18px;
   color: var(--white);
   background-color: var(--dark);
   padding: 15px 40px;
   border-radius: 6px;
   margin-right: 25px;
   transition: all 0.3s linear;
}

.learn__link:hover {
   color: var(--dark);
   background-color: var(--red);
}

.ask__link {
   font-size: 18px;
   color: var(--red);
   transition: all 0.3s linear;
}

.ask__link:hover {
   transform: scale(1.2);
}