*,
* :before,
* :after {
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto Slab', serif;
   margin: 0;
   overflow-x: hidden;
}

p {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

button {
   border: none;
   background-color: transparent;
   cursor: pointer;
}

a {
   text-decoration: none;
   color: #000;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}



/*        Header        */


.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
}

.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px 0;
}

.nav__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__item a {
   font-family: Montserrat;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   letter-spacing: 0.025em;
   color: #ffffff;
   position: relative;
   padding: 5px 0;
}

.nav__item a::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: #fff;
   opacity: 0;
   transition: all 0.3s ease;
}

.nav__item a:hover::after {
   opacity: 1;
}

.nav__item:not(:last-child) {
   margin-right: 40px;
}

.logo {
   font-family: Montserrat;
   font-size: 24px;
   line-height: 36px;
   font-weight: 700;
   color: #ffffff;
}



/*        Hero        */



.hero {
   background: url(img/01_hero/hero_bg.jpg) center no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
}

.hero__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   color: #fff;
}

.hero__title {
   font-family: Montserrat;
   font-size: 60px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   color: #ffffff;
   margin-bottom: 30px;
   transform: translate(0, 120%);
   transition: all 0.8s ease;
   opacity: 0;
}

.hero__title._active {
   transform: translate(0, 0);
   opacity: 1;
}


.hero__subtitle {
   font-family: 'Roboto Slab';
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 40px;
   transform: translate(0, 120%);
   transition: all 0.8s ease 0.4s;
   opacity: 0;
}

.hero__subtitle._active {
   transform: translate(0, 0);
   opacity: 1;
}

.button {
   padding: 11px 33px;
   color: #fff;
   font-family: Montserrat;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 3px;
   font-weight: 400;
   text-transform: uppercase;
   border: 2px solid #fff;
   border-radius: 2px;
   transition: background-color 0.3s ease-in-out;
   transform: translate(0, 120%);
   transition: transform 0.8s ease 0.7s, opacity 0.8s ease 0.7s;
   opacity: 0;
   z-index: 2;
}

.button._active {
   transform: translate(0, 0);
   opacity: 1;
}

.button:hover {
   background-color: #fff;
   color: #000;
   transition: background-color 0.3s ease-in-out;
}


/*        Services        */


.services {
   width: 100%;
}

.services__inner {
   padding: 100px 0;
   text-align: center;
}

.section__title {
   font-family: Montserrat;
   font-size: 32px;
   line-height: 24px;
   font-weight: 600;
   text-transform: uppercase;
   color: #555555;
   margin-bottom: 50px;
   position: relative;
   transform: translate(0, 120%);
   transition: all 0.8s ease 0.4s;
   opacity: 0;
}

.section__title._active {
   transform: translate(0, 0);
   opacity: 1;
}

.section__title::after {
   content: "";
   position: absolute;
   bottom: -25px;
   left: 50%;
   width: 50px;
   height: 2px;
   background-color: #555555;
   transform: translateX(-50%);
}

.section__subtitle {
   font-family: 'Roboto Slab';
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
   color: #555555;
   margin-bottom: 70px;
   transform: translate(0, 120%);
   transition: all 0.8s ease 0.8s;
   opacity: 0;
}

.section__subtitle._active {
   transform: translate(0, 0);
   opacity: 1;
}

.services__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.services__item {
   width: 32%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform: translate(0, 120%);
   transition: all 1s ease 0.4s;
   opacity: 0;
}

.services__item._active {
   transform: translate(0, 0);
   opacity: 1;
}

.services__logo {
   width: 90px;
   height: 90px;
   border: 2px solid #dddddd;
   border-radius: 50%;
   background-color: #c0301c;
   color: #fff;
   font-size: 60px;
   font-weight: 400;
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.clear__logo {
   background-color: transparent;
}

.services__title {
   font-family: Montserrat;
   font-size: 14px;
   line-height: 24px;
   font-weight: 600;
   text-transform: uppercase;
   color: #555555;
   margin-bottom: 20px;
}

.services__text {
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 24px;
   color: #555555;
}


/*        About        */


.about {
   width: 100%;
   height: auto;
   background-color: #f8f8f8;
   padding: 100px 0;
}

.about__inner {
   text-align: center;
}

.about__text {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.about__text__item {
   width: 49%;
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
   text-align: left;
   margin-bottom: 70px;
   transform: translate(0, 120%);
   transition: all 1s ease 0.4s;
   opacity: 0;
}

.about__text__item._active {
   transform: translate(0, 0);
   opacity: 1;
}

.about__staff {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.staff__card {
   width: 25%;
   transform: translate(0, 120%);
   transition: all 1s ease 0.4s;
   opacity: 0;
}

.staff__card._active {
   transform: translate(0, 0);
   opacity: 1;
}

.staff__card__inner {
   position: relative;
}

.staff__photo {
   margin-bottom: 10px;
}

.staff__card__inner:hover .staff__links {
   opacity: 1;

}

.staff__links {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.3);
   margin: 0 11px;
   width: 263px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 30px;
   opacity: 0;
   transition: all 0.5s ease;
}

.staff__links i {
   display: inline-block;
   color: #fff;
   font-size: 20px;
   padding: 5px;
   transition: all 0.3s linear;
}

.staff__links i:hover {
   background-color: #c0301c;
}

.staff__name {
   font-family: Montserrat;
   font-size: 14px;
   line-height: 24px;
   font-weight: 600;
   text-transform: uppercase;
   color: #555555;
}

.staff__job {
   font-family: 'Roboto Slab';
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
}

.swiper-button-prev::after,
.swiper-button-next::after {
   font-size: 14px;
   background-color: rgb(151, 148, 148);
   padding: 10px;
}

.swiper-button-prev,
.swiper-button-next {
   top: 40%;
   width: 35px;
   height: 35px;
   color: #fff;
   transform: translate(0, 120%);
   transition: all 1s ease 0.8s;
   opacity: 0;
}

.swiper-button-prev._active,
.swiper-button-next._active {
   transform: translate(0, 0);
   opacity: 1;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
   background-color: #c0301c;
}


/*        Latest works        */


.works {
   width: 100%;
   height: auto;
   padding: 100px 0;
}

.works__inner {
   text-align: center;
}

.works__type {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;

   transform: translate(0, 120%);
   transition: all 1s ease 0.8s;
   opacity: 0;
}

.works__type._active {
   transform: translate(0, 0);
   opacity: 1;
}

.works__item {
   position: relative;
}

.works__item:not(:last-child) {
   margin-right: 30px;
}

.works__item a::after {
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: rgba(27, 27, 27, 0.5);
   opacity: 0;
   transition: opacity 0.3s ease;
}

.works__item:hover.works__item a::after {
   opacity: 1;
}

.works__block {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   row-gap: 30px;
   column-gap: 30px;
}

.works__card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100%;
   position: relative;

   transition: all 1s ease 0.8s;
   opacity: 0;
}

.works__card._active {
   opacity: 1;
}

.works__card__title {
   font-family: Montserrat;
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
   color: #fff;
}

.works__card__type {
   font-family: 'Roboto Slab';
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   margin-bottom: 10px;
   color: #fff;
}

.works__card__button {
   color: #ce6a5f;
   font-family: inherit;
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 2px;
   padding: 10px 30px;
   background-color: #fff;
   transition: all 0.3s ease-in-out;
}

.works__card__button:hover {
   background-color: #c0301c;
   color: #fff;
}

.works__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 360px;
   height: 320px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #8e37259a;
   transition: opacity 0.5s ease-in-out;
   opacity: 0;
}

.works__card:hover .works__content {
   opacity: 1;
}


/*        Banner        */


.banner {
   background: url(img/05_banner/banner_bg.png) center no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 370px;
   margin: 40px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.banner::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #8e37259a;
}

.banner__title {
   color: #fff;
   font-family: 'Roboto Slab';
   font-size: 30px;
   line-height: 44px;
   font-weight: 400;
   margin-bottom: 30px;
   text-align: center;
   z-index: 2;

   transform: translate(0, 120%);
   transition: all 1s ease 0.8s;
   opacity: 0;
}

.banner__title._active {
   transform: translate(0, 0);
   opacity: 1;
}

.banner__title h1 {
   margin-bottom: 10px;
}


/*        Blog        */


.blog {
   padding: 50px 0;
}

.blog__inner {
   text-align: center;
}

.blog__article {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: top;
   padding: 5px;
   margin-bottom: 40px;

   transform: translate(0, 100%);
   transition: all 1s ease 0.8s;
   opacity: 0;
}

.blog__article._active {
   transform: translate(0, 0);
   opacity: 1;
}

.blog__photo {
   width: 48%;
   margin-right: 25px;
}

.blog__article img {
   width: 100%;
}


.article__content {
   width: 48%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: start;
}

.article__title__block {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 20px;
}

.article__date {
   width: 76px;
   height: 76px;
   border: 2px solid #555555;

   font-family: Montserrat;
   font-size: 24px;
   line-height: 20px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   color: #777777;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 25px;
}

.article__date span {
   font-size: 14px;
}

.article__name {
   text-align: left;
}

.article__title {
   font-family: Montserrat;
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
   text-transform: uppercase;
   color: #777777;
   margin-bottom: 10px;
}

.article__author {
   font-family: 'Roboto Slab';
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   font-style: italic;
   color: #777777;
}

.article__text {
   text-align: left;
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
   margin-bottom: 25px;
}

.article__link {
   font-family: 'Roboto Slab';
   font-size: 13px;
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   color: #777777;
}

.blog__article:hover .article__title {
   color: #c0301c;
}

.blog__article:hover .article__author span {
   color: #c0301c;
}

.blog__article:hover .article__link {
   color: #c0301c;
}

.article__title:hover {
   text-decoration: underline;
}

.article__link:hover {
   text-decoration: underline;
}


/*        Partners        */


.partners {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 70px;
}

.partner__item:not(:last-child) {
   margin-right: 70px;
   margin-bottom: 20px;
}


/*        Quotes        */


.quotes {
   padding: 50px 0;
   text-align: center;
}

.quote__text {
   font-family: 'Roboto Slab';
   font-size: 24px;
   line-height: 30px;
   font-weight: 400;
   font-style: italic;
   color: #555555;
}

.quote__author,
.quote__job {
   font-size: 20px;
   font-style: normal;
}


/*        Contact        */


.contact {
   padding: 50px 0;
}

.contact__inner {
   text-align: center;
}

.contact__block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.contact__content {
   width: 30%;
}

.contact__form {
   width: 58%;
}

.contact__item {
   display: flex;
   justify-content: left;
   align-items: flex-start;
   text-align: left;
   margin-bottom: 30px;
}

.item__image {
   margin-right: 10px;
}

.item__title {
   font-family: Montserrat;
   font-size: 14px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
   color: #555555;
}

.item__text {
   display: block;
   margin-top: 10px;
   font-family: 'Roboto Slab';
   font-size: 12px;
   line-height: 20px;
   font-weight: 400;
   color: #555555;
   text-transform: initial;
}

.form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   row-gap: 30px;
   margin-bottom: 30px;
}

.form input {
   width: 350px;
   height: 44px;
   padding: 5px 15px;
   outline: none;
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   color: #555555;
}

.form input:focus {
   background-color: beige;
   outline: none;
}

.form input::placeholder {
   text-transform: uppercase;
}

.text__area {
   grid-area: 3/1/3/3;
   min-height: 100px;
   resize: none;
   padding: 10px 15px;
   outline: none;
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   color: #555555;
}

.text__area:focus {
   background-color: beige;
}

.text__area::placeholder {
   font-family: 'Roboto Slab';
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   text-transform: uppercase;
   color: #555555;
}

.form__button {
   font-family: 'Roboto Slab';
   font-size: 14px;
   border: 1px solid #555;
   padding: 15px 40px;
   font-family: inherit;
   text-transform: uppercase;
   color: #555;
   letter-spacing: 1px;
   transition: all 0.3s linear;
}

.contact__form {
   text-align: left;
}

.form__button:hover {
   background-color: #777;
   color: #fff;
}


/*        Footer        */


.footer {
   width: 100%;
   height: 310px;
   background-color: #c0301c;
   margin: 50px 0 0;
}

.footer__inner {
   width: 100%;
   height: 100%;
   padding: 50px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer__list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
}

.footer__link a {
   color: #fff;
   font-size: 24px;
   transition: all 0.3s linear;
}

.footer__link a:hover {
   color: rgb(41, 43, 42);
}

.footer__link:not(:last-child) {
   margin-right: 30px;
}

.copyright {
   color: #fff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 300;
}


/*        Media        */

@media (max-width: 1180px) {

   .staff__card {
      width: 50%;
   }

   .works__block {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 30px;
      column-gap: 30px;
   }
}

@media (max-width: 990px) {

   .banner__title {
      font-size: 24px;
      line-height: 34px;
   }

   .article__title {
      font-size: 14px;
   }

   .article__text {
      font-size: 12px;
   }

   .quote__text {
      font-size: 20px;
   }

   .contact__content {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 20px;
   }

   .contact__form {
      width: 100%;
   }

   .form input {
      width: 100%;
   }

}

@media (max-width: 770px) {

   .blog__photo {
      width: 100%;
      margin-bottom: 20px;
   }

   .article__content {
      width: 100%;
   }
}