@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #434343;
  --secondary: #037E78;
  --orange: #FB502F;
  --green: #10847D;
  --white: #fff;
  --black: #000;
  --grey: #DEE7E6;
  --beige: #FBF1EC;
  --logo: #178680;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1667px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  background: transparent;
  border: none;
}


/* ----------Header----------- */


.header {
  width: 100%;
  position: fixed;
  padding: 25px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-left: 40px;
}

.nav__link {
  font-size: 20px;
  position: relative;
  transition: all 0.3s linear;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 5px;
  background-color: var(--logo);
  opacity: 0;
  transition: all 0.5s linear;
}

.nav__link:hover {
  color: var(--logo);
}

.nav__link:hover.nav__link::after {
  opacity: 1;
}


/* ----------Hero----------- */


.hero {
  width: 100%;
  height: 100vh;
  background: url(img/01_hero/hero_bg_01.jpg) top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__inner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 220px 0 150px 110px;
}

.hero__title {
  max-width: 740px;
  font-size: 75px;
  line-height: 1;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 70px;
  position: relative;
}

.hero__title::after {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: var(--white);
}

.title__small {
  margin-top: 200px;
}

.hero__text {
  font-weight: 300;
  font-size: 28px;
  line-height: 44px;
  max-width: 780px;
  color: var(--white);
  margin-bottom: 50px;
}

.button {
  display: inline-block;
}

.button__margin {
  margin-top: 20px;
}

.hero__link {
  color: var(--black);
  display: inline-block;
  padding: 26px 78px 26px 56px;
  background-color: var(--white);
  box-shadow: 0px 100px 80px rgba(10, 42, 31, 0.29), 0px 46.233px 36.9864px rgba(10, 42, 31, 0.215086), 0px 26.4535px 21.1628px rgba(10, 42, 31, 0.181766), 0px 16.0571px 12.8457px rgba(10, 42, 31, 0.156585), 0px 9.67509px 7.74008px rgba(10, 42, 31, 0.133415), 0px 5.38772px 4.31018px rgba(10, 42, 31, 0.108234), 0px 2.31722px 1.85378px rgba(10, 42, 31, 0.0749141);
  border-radius: 50px;

  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.green {
  background: var(--green);
  box-shadow: 0px 10px 40px rgba(98, 192, 192, 0.6);
  color: var(--white);
}

.hero__link.green:hover {
  background-color: rgb(185, 175, 175);
}

.hero__link:hover {
  background-color: rgb(185, 175, 175);
}

.hero__arrow {
  position: relative;
  right: 45px;
}


/* ----------Services----------- */


.services {
  width: 100%;
  height: 570px;
  background: linear-gradient(180deg, #048079 0%, #02B8AE 100%);
  position: relative;
}

.services__inner {
  padding: 70px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.services__item {
  width: 30%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  position: relative;
}

.services__icon {
  width: 132px;
  height: 132px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.services__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 50px;
  position: relative;
}

.services__title::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 4px;
  background-color: var(--white);
}

.services__text {
  max-width: 370px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--white);
}

/* ----------Deseases----------- */


.deseases {
  width: 100%;
  height: 100%;
}

.deseases__inner {
  width: 100%;
  height: 100%;
  padding: 150px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  max-width: 1010px;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  text-transform: capitalize;
  color: #037E78;
  margin-bottom: 60px;
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 4px;
  background-color: #DEE7E6;
}

.title__left {
  max-width: 780px;
  text-align: left;
}

.title__left::after {
  left: 0;
  transform: none;
}

.section__text {
  max-width: 1170px;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #434343;
  margin-bottom: 45px;
}

.section__text span {
  font-weight: 700;
}

.text__left {
  max-width: 680px;
  text-align: left;
}

.text__wide {
  max-width: 1250px;
}

.color__white {
  color: var(--white);
}

.deseases__image {
  width: 100%;
  margin-bottom: 50px;
}

.deseases__subtitle {
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 45px;
}


/* ----------Diagnosis----------- */


.diagnosis {
  width: 100%;
  height: 100%;
  background-color: #FBF1EC;
  position: relative;
}

.white_bg {
  background-color: #fff;
}

.diagnosis__inner {
  width: 100%;
  padding: 200px 0 200px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagnosis__item {
  width: 50%;
}

.diagnosis__image {
  width: 100%;
  object-fit: cover;
}

.width_580 {
  width: 580px;
}


/* ----------Staff----------- */


.staff {
  width: 100%;
  height: 100%;
}

.staff__inner {
  width: 100%;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.card__item {
  width: 30%;
  text-align: center;
}

.staff__photo {
  max-width: 390px;
}

.staff__name {
  font-size: 42px;
  color: var(--black);
}

.staff__major {
  font-size: 24px;
  line-height: 2;
  color: #569C9C;
  font-weight: 600;
  max-width: 450px;
  margin: 0 auto;
}



/* ----------Refer----------- */


.refer {
  width: 100%;
  height: 100%;
}

.refer__inner {
  display: flex;
}

.refer__item {
  width: 50%;
  background: linear-gradient(180deg, #048079 0%, #02B8AE 100%);
  position: relative;
}

.item__no_bg {
  background: transparent;
}

.refer__item__content {
  padding: 150px 30px 150px 85px;
}

.refer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* ----------Partners----------- */


.partners {
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners__list {
  display: flex;
  align-items: center;
  margin: 40px;
}

.partners__item:not(:last-child) {
  margin-right: 80px;
}

.partners__item img {
  width: 100%;
}


/* ----------Footer----------- */


.footer {
  width: 100%;
}

.footer__upper {
  width: 100%;
  height: 100%;
  background-color: #252D2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 90px;
}

.footer__item:nth-child(2) {
  width: 20%;
}

.footer__item:nth-child(3) {
  width: 30%;
}

.footer__item:last-child {
  align-self: flex-start;
}

.list__data {
  display: flex;
  align-items: center;
  max-width: 360px;
}

.data__address {
  align-items: start;
}

.list__data:not(:last-child) {
  margin-bottom: 40px;
}

.list__text {
  padding-left: 15px;
  font-size: 20px;
  line-height: 1.7;
  color: #DEE7E6;
}

.message {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.message:hover {
  transform: scale(1.2);
}

.footer__lower {
  padding: 55px 90px;
  background-color: #141A19;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  color: var(--white);
}



/* ----------Second Page----------- */

/* ----------Hero----------- */

.hero__second {
  background: url(img/01_hero/hero_bg_02.png) top no-repeat;
  background-size: cover;
}

.inner__second {
  background-color: rgba(0, 0, 0, 0.2);
}

.content__center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title__after::after {
  display: none;
}


/* ----------Services----------- */


.services__second {
  height: auto;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__center {
  margin: 100px auto 60px;
}

.color__green {
  color: var(--primary);
}

.color__green::after {
  background-color: #c4c4c4;
}

.icon__green {
  background-color: var(--logo);
}


/* ----------Staff----------- */


.staff__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  padding: 100px 165px;
}

.staff__content__item {
  width: 50%;
}

.staff__title {
  font-size: 42px;
  line-height: 1.5;
  color: var(--black);
}

.staff__job {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.9;
  color: #569C9C;
  margin-bottom: 40px;
}

.staff__text {
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary);
  margin-bottom: 30px;
}

.staff__face {
  width: 100%;
  padding-left: 120px;
}

.staff__partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staff__partners img {
  margin-right: 35px;
  background-blend-mode: luminosity;
}

.content__reverse {
  padding-left: 0;
  padding-right: 120px;
}


/* ----------Third Page----------- */

/* ----------Hero----------- */

.hero__third {
  background: url(img/01_hero/hero_bg_03.png) top no-repeat;
  background-size: cover;
}

/* ----------Treat----------- */

.treat {
  width: 100%;
  height: 100%;
  padding: 150px 20px;
}

.treat__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.treat__content {
  width: 80%;
  height: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.treat__card {
  width: 30%;
  max-width: 370px;
  min-height: 690px;
  padding: 35px;
  background-color: var(--white);
  box-shadow: 0px 10px 30px 10px rgba(132, 187, 187, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 60px;
  transition: all 0.3s ease-in-out;
}

.treat__card:hover {
  background-color: var(--grey);
  box-shadow: 0px 10px 30px 10px rgba(26, 27, 27, 0.2);
}

.treat__image img {
  border-radius: 50%;
  margin-bottom: 50px;
}

.treat__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 35px;
  max-width: 370px;
}

.treat__text {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  max-width: 295px;
}


/* ----------Action----------- */


.action {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFF8F4 0%, rgba(255, 248, 244, 0.44) 100%);
  padding: 150px 20px;
}

.action__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action__type {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
}

.action__item {
  max-width: 370px;
  width: 100%;
  min-height: 310px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px 10px rgba(132, 187, 187, 0.19);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.action__item:not(:last-child) {
  margin-right: 60px;
}

.action__item:hover {
  background-color: var(--grey);
  box-shadow: 0px 10px 30px 10px rgba(26, 27, 27, 0.2);
}

.action__icon {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: var(--logo);
  box-shadow: 0px 15px 20px #B0D8D6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.action__title a {
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--primary);
}

.long__title {
  max-width: 1200px;
  font-size: 56px;
}


/* ----------Forth Page----------- */

/* ----------Hero----------- */


.hero__forth {
  background: url(img/01_hero/hero_bg_04.png) top no-repeat;
  background-size: cover;
}

/* ----------Services----------- */

.services__large {
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ----------Refer__form----------- */


.form {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.refer__input {
  height: 80px;
  background: var(--white);
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  border-radius: 20px;
  border: none;
  margin: 0;
  outline: none;
  padding: 28px 50px;
  font-size: 25px;
  color: var(--primary);
}

.refer__input::placeholder {
  color: #c9c9c9;
}

.refer__input:focus {
  background: var(--beige);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.refer__textarea {
  height: 180px;
  width: 100%;
  background: var(--white);
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  border-radius: 20px;
  border: none;
  margin: 0;
  outline: none;
  padding: 28px 50px;
  font-size: 25px;
  color: var(--primary);
  resize: none;
  grid-area: 4 / 1 / 4 / 3;
}

.refer__textarea::placeholder {
  color: #c9c9c9;
}

.refer__textarea:focus {
  background: var(--beige);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.input__file {
  grid-area: 5 / 1 / 5 / 3;
  padding: 21px 30px;
}


/* ----------Fifth Page----------- */

/* ----------Hero----------- */

.hero__fifth {
  background: url(img/01_hero/hero_bg_05.png) top no-repeat;
  background-size: cover;
}

/* ----------Contact Form----------- */

.section__text a {
  text-decoration: underline;
  color: var(--logo);
}

.section__text a:hover {
  color: var(--orange);
}

/* ----------Booking----------- */

.booking {
  padding: 40px 20px 150px;
  background: linear-gradient(180deg, #FFF8F4 0%, rgba(255, 248, 244, 0.44) 100%);
}

.booking__calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.booking__calendar img {
  object-fit: cover;
}

.icon__center img {
  padding-left: 13px;
}

.item__arrow::after {
  content: '';
  background: url(img/14_consultation/arrow.svg) center no-repeat;
  position: absolute;
  width: 20px;
  height: 22px;
  top: 55px;
  right: -60px;
}


/* ----------Refer----------- */

.refer {
  margin-top: 50px;
}

.text__italic {
  font-style: italic;
  max-width: 780px;
}

.cost__table {
  margin-bottom: 40px;
}

.table__data {
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 15px;
  width: 240px;
}

.table__data:nth-child(1) {
  padding-right: 30px;
}

.table__data:nth-child(2) {
  vertical-align: top;
  padding-left: 55px;
  border-left: 1px solid #44D3CC;
  font-weight: 700;
}

.second__row {
  border-top: 1px solid #44D3CC;
}


/* ----------Contact Block----------- */


.contact__content {
  padding: 80px 20px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: top;
}

.contact__item {
  width: 35%;
}

.contact__item:nth-child(1) {
  padding-left: 50px;
}

.contact__item:nth-child(2) {
  padding-left: 100px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__input {
  max-width: 570px;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  border-radius: 20px;
  border: none;
  outline: none;
  margin-bottom: 30px;
  padding: 28px 50px;
  font-size: 25px;
}

.contact__input::placeholder {
  color: #c9c9c9;
}

.contact__input:focus {
  background: var(--beige);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.contact__textarea {
  height: 180px;
  width: 570px;
  background: var(--white);
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  border-radius: 20px;
  border: none;
  margin: 0;
  outline: none;
  padding: 28px 50px;
  font-size: 25px;
  color: var(--primary);
  resize: none;
  margin-bottom: 30px;
}

.contact__textarea::placeholder {
  color: #c9c9c9;
}

.contact__textarea:focus {
  background: var(--beige);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.contact__input {
  padding: 21px 30px;
}

.contact__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.3;
  color: #333;
  margin-bottom: 20px;
}

.contact__list {
  max-width: 360px;
  margin-bottom: 204px;
}

.contact__list__item {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  font-size: 20px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 30px;
}

.contact__image {
  padding-top: 5px;
}

.contact__link {
  margin-left: 12px;
  vertical-align: top;
}

.orange {
  background-color: var(--orange);
  padding-right: 100px;
}

.hero__chat {
  right: 85px;
  top: 12px;
}


/* ----------Sixth Page----------- */

/* ----------Hero----------- */

.hero__sixth {
  background: url(img/01_hero/hero_bg_06.png) top no-repeat;
  background-size: cover;
}


/* ----------Blog----------- */


.blog {
  padding: 100px 135px;
  display: flex;
  justify-content: space-between;
}

.blog__main {
  width: 50%;
}

.blog__item {
  margin-bottom: 120px;
}

.blog__image img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}

.blog__post_data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--primary);
  margin-top: 40px;
  margin-bottom: 50px;
}

.blog__post_date {
  padding-right: 16px;
  padding-left: 23px;
}

.blog__post_author {
  padding-left: 16px;
  border-left: 2px solid #DEE7E6;
}

.blog__post_title {
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border-top: 1px solid #DEE7E6;
  padding-top: 20px;
  margin-bottom: 30px;
}

.blog__post_text {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.blog__aside {
  width: 40%;
}

.blog__aside__block {
  margin-bottom: 150px;
}

.blog__category {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #037E78;
  margin-bottom: 80px;
  position: relative;
}

.blog__category::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #DEE7E6;
}

.blog__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.blog__list-item:not(:last-child) {
  border-bottom: 1px solid #DEE7E6;
}

.blog__item-link {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #434343;
  transition: all 0.3s ease-in-out;
}

.blog__item-link:hover {
  color: #000;
  padding-left: 20px;
}

.blog__post-qty {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #434343;
}

.blog__popular-item {
  margin-bottom: 80px;
}

.blog__popular-link {
  display: flex;
}

.blog__popular-link img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  margin-right: 30px;
}

.blog__popular-content {
  width: 300px;
}

.blog__popular-date {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.8;
  color: #434343;
  margin-bottom: 20px;
}

.blog__popular-text {
  font-size: 21px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #434343;
}


/* ----------Seventh Page----------- */

/* ----------Hero----------- */

.hero__seventh {
  background: url(img/01_hero/hero_bg_07.png) top no-repeat;
  background-size: cover;
}


/* ----------Stroke Navigation----------- */

.stroke-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.stroke-nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 200px;
  transition: all .3s ease-in-out;
}

.stroke-nav__block {
  text-align: center;
  padding: 40px 10px;
  cursor: pointer;
}

.stroke-nav__image {
  margin-bottom: 15px;
}

.stroke-nav__image path {
  transition: all .3s ease-in-out;
}

.stroke-nav__item:hover {
  background-color: var(--logo);
}

.stroke-nav__title {
  transition: all .3s ease-in-out;
}

.stroke-nav__item:hover .stroke-nav__title {
  color: var(--white);
}

.stroke-nav__item:hover .stroke-nav__image path {
  stroke: white;
}

.stroke-inner {
  padding: 0 160px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stroke-reason {
  background: linear-gradient(180deg, #FFF8F4 0%, rgba(255, 248, 244, 0.44) 100%);
}

.stroke-accordion__inner {
  padding: 40px 160px;
}

.stroke-accordion__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.stroke-accordion__item {
  width: 1170px;
  padding: 30px 17px 30px 60px;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  margin-bottom: 10px;
}

.stroke-accordion__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stroke-accordion__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000;
}

.stroke-accordion__answer {
  margin-top: 10px;
  padding-top: 10px;
  margin-right: 60px;
  border-top: 1px solid #ccc;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  transition: all 0.3s linear;
  display: none;
}

.button-plus {
  cursor: pointer;
}

.button-plus path {
  transition: all 0.3s ease-in-out;
}

.button-plus:hover path {
  fill: var(--orange);
}

.show__text {
  display: block;
}


/* ----------Eight Page----------- */

/* ----------Hero----------- */

.hero__eight {
  background: url(img/01_hero/hero_bg_08.png) top no-repeat;
  background-size: cover;
}

.blog__post_subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin: 30px 0;
}


.blog__author-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(106, 87, 79, 0.15);
  max-width: 865px;
  min-height: 520px;
  padding: 30px;
}

.blog__author-photo {
  width: 161px;
  height: 162px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 50px;
}

.blog__category_small-size {
  font-size: 28px;
  letter-spacing: 0;
}

.blog__author-name {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.8;
  color: #434343;
  margin-bottom: 15px;
}

.blog__author-text {
  font-size: 20px;
  line-height: 1.5;
  color: #434343;
}


/* ----------Blog Slider----------- */

.blog-slider {
  padding: 50px 150px;
  margin: 0 auto;
  background: linear-gradient(180deg, #FFF8F4 0%, rgba(255, 248, 244, 0.44) 100%);
}

.blog-slider__block {
  max-width: 1660px;
  padding: 50px 40px;
}

.blog-slider__card {
  width: 370px;
}

.blog-slider__image {
  width: 100%;
  margin-bottom: 40px;
  height: 220px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.blog-slider__card:hover .blog-slider__image {
  margin-bottom: 20px;
}

.action__blog {
  background: #fff;
}


/* ----------Ninth Page----------- */

/* ----------Hero----------- */

.hero__ninth {
  background: url(img/01_hero/hero_bg_09.jpg) top no-repeat;
  background-size: cover;
}
