.steps__content_count_two::before {
   content: '';
   position: absolute;
   top: -20px;
   left: 10px;
   width: 149px;
   height: 197px;
   background: url(../../../../img/03_steps/step_2.png);
   object-fit: cover;
   z-index: 1;
}