.sidebar__subtitle {
  padding: 0;
  margin: 0 auto 60px;
  max-width: 200px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #dedede;
}
